In [48]:
import pandas as pd

df = pd.read_csv("/kaggle/input/titanic-dataset/Titanic-Dataset.csv")
df.head(10)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [49]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [50]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

In [51]:
classes = np.unique(y_train)

priors = {}
means = {}
covs = {}

for cls in classes:
    X_cls = X_train[y_train == cls]
    priors[cls] = len(X_cls) / len(y_train)
    means[cls] = np.mean(X_cls, axis=0)
    covs[cls] = np.cov(X_cls, rowvar=False) + np.eye(X_train.shape[1]) * 1e-6  # Regularization

In [52]:
def bayesian_classifier(x):
    posteriors = []
    for cls in classes:
        likelihood = multivariate_normal.pdf(x, mean=means[cls], cov=covs[cls])
        posterior = likelihood * priors[cls]
        posteriors.append(posterior)
    return classes[np.argmax(posteriors)]

In [53]:
y_pred = np.array([bayesian_classifier(x) for x in X_test])

In [54]:
acc = accuracy_score(y_test, y_pred)
print(f"Accuracy of Bayesian Decision Theory classifier: {acc*100:.2f}%")

Accuracy of Bayesian Decision Theory classifier: 80.97%